[submodule ".vim/pack/garriguv/start/molokai"]
	path = .vim/pack/garriguv/start/molokai
	url = git@github.com:fatih/molokai.git
[submodule ".vim/pack/garriguv/start/fzf"]
	path = .vim/pack/garriguv/start/fzf
	url = git@github.com:junegunn/fzf.git
[submodule ".vim/pack/garriguv/start/fzf.vim"]
	path = .vim/pack/garriguv/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/pack/garriguv/start/tabular"]
	path = .vim/pack/garriguv/start/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule ".vim/pack/garriguv/start/vim-airline"]
	path = .vim/pack/garriguv/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/pack/garriguv/start/vim-commentary"]
	path = .vim/pack/garriguv/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/pack/garriguv/start/vim-dispatch"]
	path = .vim/pack/garriguv/start/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule ".vim/pack/garriguv/start/vim-eunuch"]
	path = .vim/pack/garriguv/start/vim-eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule ".vim/pack/garriguv/start/vim-git"]
	path = .vim/pack/garriguv/start/vim-git
	url = git@github.com:tpope/vim-git.git
[submodule ".vim/pack/garriguv/start/vim-go"]
	path = .vim/pack/garriguv/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule ".vim/pack/garriguv/start/vim-jdaddy"]
	path = .vim/pack/garriguv/start/vim-jdaddy
	url = git@github.com:tpope/vim-jdaddy.git
[submodule ".vim/pack/garriguv/start/vim-markdown"]
	path = .vim/pack/garriguv/start/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule ".vim/pack/garriguv/start/vim-repeat"]
	path = .vim/pack/garriguv/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/pack/garriguv/start/vim-rhubarb"]
	path = .vim/pack/garriguv/start/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
[submodule ".vim/pack/garriguv/start/vim-ripgrep"]
	path = .vim/pack/garriguv/start/vim-ripgrep
	url = git@github.com:jremmen/vim-ripgrep.git
[submodule ".vim/pack/garriguv/start/vim-sensible"]
	path = .vim/pack/garriguv/start/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule ".vim/pack/garriguv/start/vim-surround"]
	path = .vim/pack/garriguv/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/garriguv/start/vim-unimpaired"]
	path = .vim/pack/garriguv/start/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule ".vim/pack/garriguv/start/vim-monokai-pro"]
	path = .vim/pack/garriguv/start/vim-monokai-pro
	url = git@github.com:phanviet/vim-monokai-pro.git
[submodule ".vim/pack/garriguv/start/vim-polyglot"]
	path = .vim/pack/garriguv/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
