" Remappings
nmap <c-j> o<Esc>
nmap <c-k> O<Esc>

" Fast window movement
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l

" Enable plugins
set surround
set commentary
set highlightedyank

" Search
set ignorecase
set incsearch

" Line numbers
set number
set relativenumber

" Show mode
set showmode

" Silence bell
set visualbell

" Quickly pressing jj exits insert mode
imap jj <Esc>

" IntelliJ action
map <Space>r :action Run<CR>
map <Space>d :action Debug<CR>

" Copy / Past
set clipboard+=ideaput
